// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

:root {
  --black-025: #fafafb;
  --black-050: #eff0f1;
  --black-075: #e4e6e8;
  --black-100: #d6d9dc;
  --black-150: #c8ccd0;
  --black-200: #bbc0c4;
  --black-300: #9fa6ad;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #3c4146;
  --black-750: #2f3337;
  --black-800: #242729;
  --black-900: #0c0d0e;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.my-style {
  .posts-card {
    p {
      margin: 0;
    }

    strong {
      font-weight: 800;
    }

    &:not(:last-child) {
      border-bottom: 2px solid var(--black-050);
      margin-bottom: 25px;
      padding-bottom: 5px;
    }

    .posts-title {
      font-size: 16px;
      font-weight: 800;
      margin: 0;
    }

    .posts-image {
      width: 300px;
      height: 300px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .posts-content {
      margin: 0;

    }
  }
}